/**
* @description: Editor Canvas Overlay CSS
* @author: Joel
*/

#editor {
  .editor-overlay {
    position: absolute;
    inset: 0;
    display: none;
    cursor: grab;

    &.show {
      display: block;
      cursor: grab;
    }

    &.down {
      cursor: grabbing;
    }
  }
}
