/**
* @description: Dashboard module CSS
* @author: Joel
*/

#dashboard {
  // Color
  --db-color-main: var(--color-gray-800);
  --db-color-bg-dark: #080808;

  // Font color
  color: var(--theme-color-text);

  /* Dashboard Main ------ Start ------ */

  // Border color
  --db-main-border-black: rgb(8 8 8);

  // Bar color
  --db-main-color-left-bar-bg: #262626;

  // card color
  --db-main-color-canvas-bg: #2c2c2c;

  /* Dashboard Main ------ End ------ */

  /* Dashboard Editor ------ Start ------ */

  // Select color
  --db-editor-color-select: rgba(54, 98, 236, 0.3);
  --db-editor-color-select-light: rgba(54, 98, 236, 0.15);

  // Button/Input color
  --db-editor-color-input-background: var(--theme-color-tran-8);
  --db-editor-color-button-focus-border: var(--theme-color-blue-700);
  --db-editor-color-button-bg-hover: var(--theme-color-gray-300);
  --db-editor-color-button-bg-active: var(--theme-color-gray-200);

  // Drag the color of the dashboard component
  --drag-resize-color: hsl(260, 100%, 66%);

  /* Dashboard Editor ------ End ------ */
}
