@font-face {
  font-family: "iconfont"; /* Project id 3143945 */
  src: url('iconfont.woff2?t=1711561864782') format('woff2'),
       url('iconfont.woff?t=1711561864782') format('woff'),
       url('iconfont.ttf?t=1711561864782') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-font-family:before {
  content: "\e6b5";
}

.icon-line-height:before {
  content: "\e9d7";
}

.icon-letter-spacing:before {
  content: "\e849";
}

.icon-text:before {
  content: "\e6ec";
}

.icon-text-size:before {
  content: "\e853";
}

.icon-bottom-left-radius:before {
  content: "\e602";
}

.icon-bottom-right-radius:before {
  content: "\e603";
}

.icon-top-right-radius:before {
  content: "\e605";
}

.icon-locking-ratio:before {
  content: "\e6cf";
}

.icon-reverse-y:before {
  content: "\e668";
}

.icon-reverse-x:before {
  content: "\e669";
}

.icon-spread-out:before {
  content: "\e781";
}

.icon-rotate:before {
  content: "\e604";
}

.icon-top-left-radius:before {
  content: "\e6eb";
}

.icon-yulan:before {
  content: "\ea0c";
}

.icon-small-view:before {
  content: "\e7bc";
}

.icon-list-view:before {
  content: "\e610";
}

.icon-wenjianjia1:before {
  content: "\e80c";
}

.icon-wenjianleixing-biaozhuntu-wenjianjia:before {
  content: "\e6a5";
}

.icon-wenjianleixing-suolvetu-wenjianjia:before {
  content: "\e6a9";
}

.icon-shouqi2:before {
  content: "\e769";
}

.icon-gengduo:before {
  content: "\e601";
}

.icon-zhankai:before {
  content: "\e60e";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-delete:before {
  content: "\e67e";
}

.icon-noticeboard:before {
  content: "\e6ab";
}

.icon-jiahao:before {
  content: "\e614";
}

.icon-bianji:before {
  content: "\eabd";
}

.icon-dian:before {
  content: "\e623";
}

